$white:    #fff !default;
$gray:     #adb5bd !default;
$black:    #000 !default;

$primary-bg: #004643;
$primary-bg-light: #3e7e7b;

$headline-text: #001e1d;
$paragraph-text: #0f3433;

$button-bg: #f9bc60;
$button-text: #001e1d;

$page-bg: #abd1c6;
